.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background-color: #ffffff;

    &__image {
        width: 50%;
        margin-bottom: 20px;
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 20px;
        color: #536DFE;
        font-weight: bold;
    }
}